<div class="grid-container" style="background-color: rgb(50, 73, 127);">
  <div class="grid-row" *ngFor="let row of grid; trackBy: trackByRow;let i = index">
    <div
      class="grid-cell"
      *ngFor="let cell of row; trackBy: trackByCol;let j = index"
      [ngClass]="{ 'black-cell': cell === 0, 'white-cell': cell === 1 }"
      (click)="toggleCell(i,j)">
  </div>
  </div>
</div>
<div>  
</div>

<div class="nav">
  <div>
    <label>X: </label>
    <input type="number" [(ngModel)]="COLS">
    
    <label>Y: </label>
    <input type="number" [(ngModel)]="ROWS">

    <button (click)="reSize()">Resize</button>
  </div>
  <div>
    <label>Generation:{{numGeneration}}</label>
  </div>
  <div>
    <button (click)="store()">STORE</button>
    <button (click)="start()">START</button>
    <button (click)="pause()">PAUSE</button>
    <button (click)="random()">RANDOM</button>    
    <button (click)="gliderGun()">Glider Gun</button>
    <button (click)="reset()">RESET</button>
  </div>
</div>

<div class="sidenav">
  <h1 style="text-align: center;">Welcome, Creator!<br>Name the universe you <br> wish to bring into existence!</h1>
  <input class="large-input" type="text" [(ngModel)]="name">
  <button class="button" (click)="createNewUniverse()">Create</button>
  <div *ngFor="let todo of todos; let i = index">
    <div class="flex-container">
    <div  class="name-container"> 
      {{todo.name}} 
    </div>
    <div class="button-container">   
      <button (click)="loadUniverse(i)" style="background-color: rgb(85, 226, 160);">Load</button>  
      <button (click)="removeTodo(i)" style="background-color: rgb(203, 55, 55);">Delete</button>
    </div>
    </div>
</div>